.st-page {
  box-shadow: 1px 1px 2px 3px rgba(0,0,0,.1);
  background-color: rgb(244,244,244);
  border: 1px solid #fff;
}

.st-breadcrumb {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.st-search {
  margin-top: 10px;
  padding: 10px;
}

.st-tab {
  margin-bottom: 50px;
}
// 分页
.st-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  padding-right: 20px;
} 

// 后台管理系统页面的布局
.st-title {
  position: relative;
  background-color: #fde9d0;
  color: #fc8954;
  padding: 10px 20px;
  margin: 10px;
}
.el-icon-close:before {
  position: absolute;
  color: #dcccb5;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-weight: 900;
  cursor: pointer;
}
.st-card-wrapper {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  .st-card-left {
    flex: 1;
    background-color: #efeef3;
  }
  .st-card-right {
    flex: 2;
    background-color: red;
    margin-right: 20px;
  }
}